/* gallery Section
--------------------------------*/
#gallery {
    padding: 0;
}

#gallery #gallery-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#gallery #gallery-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#gallery #gallery-flters li:hover,
#gallery #gallery-flters li.filter-active {
    background: #070b52;
    color: #fff;
}

#gallery #gallery-flters li:last-child {
    margin-right: 0;
}

#gallery .gallery-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    margin: 0 0 15px 0;
}

#gallery .gallery-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#gallery .gallery-item {
    position: relative;
    min-height: auto;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 25px;
}

#gallery .gallery-item figure {
    background: #000;
    overflow: hidden;
    height: 145px;
    position: relative;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

#gallery .gallery-item figure:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#gallery .gallery-item figure .link-preview,
#gallery .gallery-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

#gallery .gallery-item figure .link-preview i,
#gallery .gallery-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

#gallery .gallery-item figure .link-preview:hover,
#gallery .gallery-item figure .link-details:hover {
    background: #070b52;
}

#gallery .gallery-item figure .link-preview:hover i,
#gallery .gallery-item figure .link-details:hover i {
    color: #fff;
}

#gallery .gallery-item figure .link-preview {
    left: calc(50% - 38px);
    top: calc(50% - 18px);
}

#gallery .gallery-item figure .link-details {
    right: calc(50% - 38px);
    top: calc(50% - 18px);
}

#gallery .gallery-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 44px);
}

#gallery .gallery-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 44px);
}

#gallery .gallery-item .gallery-info {
    background: #fff;
    text-align: center;
    padding: 30px;
    min-height: 150px;
    border-radius: 0 0 3px 3px;
}

#gallery .gallery-item .gallery-info h4 {
    font-size: 18px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-bottom: 0;
}

#gallery .gallery-item .gallery-info h4 a {
    color: #333;
}

#gallery .gallery-item .gallery-info h4 a:hover {
    color: #070b52;
}

#gallery .gallery-item .gallery-info p {
    @include source(.9rem, 400, #b8b8b8);
    line-height: normal;
    padding: 0;
    margin: 0;
}

#gallery {
    .gallery-category {
        .gallery-item {
            .card-group {
                .card {
                    min-height: 320px;
                    margin: 15px 0;
                    .thumb-category {
                        width: 100%;
                        height: 160px;
                        background-position: center center;
                        background-size: cover;
                    }
                    .card-body {
                        padding: 1rem;
                        .card-title {
                            @include roboto(1rem,600,$blue-dark);
                            line-height: normal;
                            padding: 0;
                            margin: 0;
                        }
                        .card-text {
                            @include roboto(1rem,400,#444);
                            line-height: normal;
                            padding: 0;
                            margin: 10px 0 0 0;
                        }
                        .wrapp-btn {
                            position: absolute;
                            bottom: 3%;
                            left: 0;
                            width: 100%;
                            text-align: center;
                            .btn {
                                &.btn-category {
                                    background-color: #070b52;
                                    display: inline-block;
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}